<td>{{product.name}}</td>
<td>{{product.price}}</td>
<td>
    <ng-container *ngIf="product.discount > 0">{{product.price_on_sale}}</ng-container>
</td>
<td [style]="hasError ? 'background-color: red' : ''">
    <nz-input-group [nzSuffix]="suffixTemplate">
        <nz-input-number (ngModelChange)="updateDiscountPrice($event)" [(ngModel)]="product.discount" [disabled]="!show"
                         [nzFormatter]="formatterPercent"
                         [nzMax]="100" [nzMin]="0"
                         [nzParser]="parserPercent" [nzStep]="0.5"></nz-input-number>
        <ng-template #suffixTemplate>
            <nz-switch
                    (ngModelChange)="show = !show"
                    [ngModel]="show"
                    [nzCheckedChildren]="checkedTemplate"
                    [nzUnCheckedChildren]="checkedTemplate"
            ></nz-switch>
            <ng-template #checkedTemplate><i nz-icon nzType="edit"></i></ng-template>
        </ng-template>
    </nz-input-group>
</td>
<td>{{product.quantity_stock}}</td>
<td>{{product.quantity_sold}}</td>
<td>{{product.comments}}</td>
<td>
    <input [formControl]="addToInventory" nz-input type="number"/>
</td>
<td>
    <input [formControl]="removeToInventory" nz-input type="number"/>
</td>
